@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/cipher_web";

@plugin "../vendor/heroicons";

@plugin "../vendor/daisyui" {
    themes:
        myCoolTheme --default,
        dark --prefersdark;
}

@plugin "../vendor/daisyui-theme" {
    name: "myCoolTheme";
    default: true;
    prefersdark: false;
    color-scheme: light;
    --color-base-100: oklch(99% 0.0012 107.8188);
    --color-base-200: oklch(97% 0.001 106.424);
    --color-base-300: oklch(86% 0 0);
    --color-base-content: oklch(27.807% 0.029 256.847);
    --color-primary: oklch(37.45% 0.189 325.02);
    --color-primary-content: oklch(87.49% 0.037 325.02);
    --color-secondary: oklch(82% 0.119 306.383);
    --color-secondary-content: oklch(12% 0.042 264.695);
    --color-accent: oklch(75.98% 0.204 56.72);
    --color-accent-content: oklch(15.196% 0.04 56.72);
    --color-neutral: oklch(27.807% 0.029 256.847);
    --color-neutral-content: oklch(85.561% 0.005 256.847);
    --color-info: oklch(98% 0.019 200.873);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(62% 0.214 259.815);
    --color-success-content: oklch(93% 0.032 255.585);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

[data-phx-session],
[data-phx-teleported-src] {
    display: contents;
}

:root,
[data-theme="myCoolTheme"] {
    --color-muted: oklch(94% 0 0);
    --color-muted-foreground: oklch(50% 0 0);
    --choice-red-fill: #fca5a5;
    --choice-red-stroke: #dc2626;
    --choice-green-fill: #86efac;
    --choice-green-stroke: #16a34a;
    --choice-blue-fill: #93c5fd;
    --choice-blue-stroke: #2563eb;
    --choice-yellow-fill: #fde047;
    --choice-yellow-stroke: #fbbf24;
}

[data-theme="dark"] {
    --color-muted: oklch(20% 0 0);
    --color-muted-foreground: oklch(60% 0 0);
    --choice-red-fill: #991b1b;
    --choice-red-stroke: #fca5a5;
    --choice-green-fill: #14532d;
    --choice-green-stroke: #86efac;
    --choice-blue-fill: #1e3a8a;
    --choice-blue-stroke: #93c5fd;
    --choice-yellow-fill: #713f12;
    --choice-yellow-stroke: #fde047;
}
